@import '../../pages/main-page/main.scss';

.button-container {
  width: 100%;
  height: auto;
  display:flex;
  justify-content: center;
}

.fight-button {
  width: 15rem;
  height: 5rem;
  outline: none;
  border: .05rem $secondary-color solid;
  background: transparent;
  align-items: center;
  display:flex;
  cursor: pointer;

    #fight-image{
      width: 3.5rem;
      height: 3.5rem;
      pointer-events: none;
    }

    span {
      font-weight: bold;
      color: $secondary-color;
      font-size: 2rem;
      margin: 0 auto;
    }
}



  @media only screen and (max-width: 1000px) {

    .fight-button {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  @media only screen and (min-width: 1001px) {
    .button-container {
      flex: 1;
    }

    .fight-button {
      align-self: center;
    }
  }