.player-chosen-card {

  width: 15rem;
  background: #fff;
  align-self: center;
  display:flex;
  flex-direction: column;
  border: .08rem $primary-color outset;
  box-shadow: $box-shadow;
  background: #24292e04;
} 

.image-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  transition: .5s;
  z-index: 2;
  .image-description {
      position: absolute;
      font-weight: 500;
      font-size: x-large;
      color: $primary-color;
      top: 5.5rem;
      left: 3.5rem;
      visibility: hidden; 

  }

  &:hover {
      .image-description {
          visibility: visible;
      }
      .profile-image {
          opacity: 0.4;
      }

  }

}

.profile-image {
  width: 100%;
  height: auto;
}

.player-info {
  width: 100%;
  min-height: 8rem;
  display: flex;
  flex-direction: column;

}

.info-container {
  display:flex;
  flex-direction: row;
  margin: 1rem;

  span {
      color: $secondary-color;
  }
}

.card-icons {
  margin-right: .5rem;
  align-self: center;
}